body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #b1b3b4;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.imgHeight {
  width: 4vw;
}

.height {
  height: 89vh;
  width: 121vh;
}
.vertical {
  display: flex;
  flex-direction: column-reverse;
  width: 10vh;
}

.lmargin {
  margin-left: 86%;
}

.box {
  height: 80vh;
  width: 45vh;
  margin-left: 9%;
  border: 10px solid black;
  border-radius: 45px;
}

.form-control-plaintext {
  outline: 0;
}

.scroll {
  overflow-y: scroll;
}

.width {
  width: 50%;
}

.vertical {
  height: 91vh;
}

.clickable {
  cursor: pointer;
}

.imgSize {
  height: 10vh;
}

.size {
  height: 2vh;
}
